a {
    color: inherit;
    text-decoration: none;
}
.track-info a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #222;
}

.extension-container{
    width: 550px;
}

.track-info{
    width: 100%;
    height: 50px;
    margin: 5px;
}

.artwork {
    float: left;
    display: inline-block;
    height: 100%;
    width: 50px;
    border: 0.5px solid #eee;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.user{
    float: left;
    display: inline-block;
    height: 27%;
    width: 405px;
    margin: 0 10px;
    font-size: 10px;
    color: #aaa;
}

.title {
    float: left;
    display: inline-block;
    height: 73%;
    width: 405px;
    margin: 0 10px;
    font-size: 13.5px;
    color: #777;
}

.controller {
    width: 100%;
    height: 34px;
    background: black;
}

.pause-play {
    clear: both;
    float: left;
    margin: 0 10px;
}

.track-controls {
    height: 100%;
    width: 70px;
    float: left;
}

.controller-btn {
    border: none;
    height: 100%;
}

.time-controls {
    height: 100%;
    width: 430px;
    float: left;
    background: white;
    font-size: 11px;
}
.time-controls:hover .progressIndicator{
    opacity: 1;
}
.time-controls:hover{
    cursor: pointer;
}

.timeline {
    border-style: solid;
    top: 50%;
    width: 72%;
    color: #ddd;
    position: relative;
    border-width: 0.5px;
    display: flex;
}

.progressBar {
    border-style: solid;
    top: 48%;
    width: 0;
    color: chocolate;
    position: relative;
    border-width: 0.5px;
    display: flex;
}

.progressIndicator {
    opacity: 0;
    transition: 0.15s;
    background: chocolate;
    height: 8px;
    width: 8px;
    position: relative;
    border: 2px solid chocolate;
    border-radius: 25px;
    top: 11.5px;
    left: 0%;
    display: flex;

}

.current-time {
    float: left;
    display: flex;
    width: 14%;
    height: 100%;
    color: chocolate;
}
.total-time {
    float: right;
    display: inline-block;
    position: relative;
    width: 14%;
    height: 100%;
    color: #777;
}
.time-controls p{
    width:100%;
    height: 50%;
    text-align:center;
    position: relative;
    top: 25%;
    margin: 0;
}
