.track-info{
    width: 500px;
    height: 50px;
    margin: 5px;
}

.artwork {
    float: left;
    display: inline-block;
    height: 100%;
    width: 50px;
    border: 0.5px solid #eee;
    background-image: url('https://i1.sndcdn.com/artworks-000280968311-7yfvpj-large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.user{
    float: left;
    display: inline-block;
    height: 27%;
    width: 405px;
    margin: 0 10px;
    font-size: 10px;
}

.title {
    float: left;
    display: inline-block;
    height: 73%;
    width: 405px;
    margin: 0 10px;
    font-size: 13.5px;
}

.controller {
    width: 500px;
    height: 34px;
    background: black;
}

.pause-play {
    clear: both;
    float: left;
    margin: 0 10px;
}
.progressBar {
    height: 100%;
    width: 430px;
    float: left;
    background: pink;
}

.timeline {
    border-style: solid;
    top: 50%;
    position: relative;
    border-width: 0.5px;
}

.progressIndicator {
    background: chocolate;
    height: 8px;
    width: 8px;
    position: relative;
    border: 2px solid chocolate;
    border-radius: 25px;
    top: 12.5px;
    left: 0%;
}
