.controller {
    width: 500px;
    height: 34px;
    background: black;
}

.pause-play {
    clear: both;
    float: left;
    margin: 0 10px;
}
.progressBar {
    height: 100%;
    width: 430px;
    float: left;
    background: pink;
}

.timeline {
    border-style: solid;
    top: 50%;
    position: relative;
    border-width: 0.5px;
}

.progressIndicator {
    background: chocolate;
    height: 8px;
    width: 8px;
    position: relative;
    border: 2px solid chocolate;
    border-radius: 25px;
    top: 12.5px;
    left: 0%;
}
